<!DOCTYPE html>
<html>
<head>
    <title>Contacts</title>
</head>
<form>
        <table border="1">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Phone No</th>
                    <th>Dmat</th>
                    <th>Real Estate</th>
                    <th>Insurance</th>
                    <th>Date</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact['Full Name'] }}</td>
                    <td><a href="tel:{{ contact['Phone No'] }}">{{ contact['Phone No'] }}</a></td>
                    <td>{{ contact['Dmat'] }}</td>
                    <td>{{ contact['Real Estate'] }}</td>
                    <td>{{ contact['Insurance'] }}</td>
                    <td>{{ contact['Date'] }}</td>
                    
                {% endfor %}
            </tbody>
            
        </table>
</body>
</html>
